@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background: #f1f1f1;
    margin: 0;
}

header h1{
    font-size: 50px;
    color: white;
}

header h2{
    color: white;
}

body{
    background: #dd0a37;
    
    
}

.barra{
    overflow: hidden;
    background: #dd0a37;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    border-bottom: 2px solid #bd0c3256;
}

.barra a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 7px;
}

.barra a:hover{
    /* background-color: #ddd; */
    color:white;
    text-decoration: none;
}

.login{
    width: 100px;
    border-radius: 23px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    margin: 7px;
}

.evento{
    width: 150px;
    border-radius: 23px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    margin: 7px;   
}

.barra a.logo:hover{
    background-color: #dd0a37;
}

.fakeimg{
    border-color: #f1f1f1;
    border-style: solid;
    border-width: medium;
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.card p{
    text-align: center;
}

.column {
    float: left;
    width: 20%;
    padding: 15px;
    text-align: center;
}

.column a{
    text-decoration: none;
    color: black;
}

.row h2{
    text-align: center;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.linha:after{
    content: "";
    display: table;
    clear: both;
}

.midias{
    padding: 20px;
    text-align: center;
    background-color: #dd0a37;
    color: white;
    margin-top: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 20px;
}


.login-form {
   width: 800px;
   margin: 50px auto;
   padding-top: 20px;
   position: relative;
}
.login-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 18px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

a:active{
    color:crimson;
}


.home-content{
    padding: 90px;
}


.form-group .bt{

    border: 1px solid black;
    color: white;
    background: black;
    border-radius: 3px;
    display: inline-block;
    /* cursor: pointer; */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 25px;
    text-decoration: none;
    
}