@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f3f5f9;
}

.wrapper {
    display: flex;
    position: fixed;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #dd0a37;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: white;
    text-transform: none;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #c4d8fc;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #dd0a37;
}

.wrapper .sidebar ul li:hover a {
    color: white;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: none;
    background: #fff;
    color: #FF0000;
    border-top: 0px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #FF0000;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

aqui começa o desmantelo do menuu body {
    font-family: 'Arial', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    padding-left: 435px;
    overflow: hidden;
    background-color: black;
}

.menu li {
    float: left;
}

.menu li a,
.dropdown-btn2 {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 16px 22px;
}

.menu li a:hover,
.dropdown:hover .dropdown-btn {
    background-color: black;
    color: #e0e4e8;
}

li.dropdown {
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #1ebb90;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
   /* position: fixed;*/
   
}

div li {
    text-align: justify-all;
}


/*.menu2{
    padding: 20px;
}*/




.menu2 ul {
    list-style-type: none;
    margin: 0;
    padding: ;
    padding-left: 690px;
    overflow: hidden;
    /* background-color: darkblue; */
}

.menu2 li {
    float: left;
    padding: 0 0 0 0px;
   
}

.menu2{
    border-color: darkgray;
    border-width: 0 0 0.5px;
    border-style: solid;
}

.menu2 li a {

    border: 1px solid black;
    color: white;
    background: black;
    border-radius: 3px;
    display: inline-block;
    /* cursor: pointer; */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 25px;
    text-decoration: none;

/* 

    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 16px 22px; */
}

.menu2 li a:hover{
    background-color: black;
    color: #e0e4e8;

}


.menu2 .cp{
    padding-top: 10px;
    
}

.cert{

    height: 500px;
    width: 800px;
    border-color: black;
    
    /* background-color: #BCD2EE; */
    border-style: solid;
    border-width: 2px;
    margin-left: 240px;
    /*margin-top: 20px;*/
    text-align: center;
}



.cert p{
    margin: 170px 50px 70px;
}

.footer p{
    text-align: center;
    border-style: solid;
    border-width: 0.5px 0 0 0;
    margin-top: 200px;
    
    border-color: rgb(126, 126, 126);
}


.forme{
    margin-left: 100px;
    padding: 20px;
}

.forme .bt{
    border: 1px solid black;
    color: white;
    background: black;
    border-radius: 3px;
    display: inline-block;
    /* cursor: pointer; */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 25px;
    text-decoration: none;
}

.forme .confirma{
    padding: 4px;
}