body{
	font-family: : Helvetica, sans-serif;
}
#wrap{
	width: auto;
	margin: auto;
	background: darkcyan;
	padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

#barra{
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}
footer{
	background: white;
}
aside {
	-ms-interpolation-mode: white;
	text-align: left;
}

#info li{
  color: white;
}

u li {
	background-color: white;
}

section {
  text-align: left;
}

#mapa{
  text-align: center;
}