body{
	font-family: : Helvetica, sans-serif;
}
#wrap{
	width: 960px;
	margin: auto;
	background: orange;
	padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}
footer{
	background: white;
}
aside {
	color-interpolation: white;
	text-align: center;
}
u li {
	background-color: white;
}